.App {
  text-align: center;
  margin: 0 auto;
  max-width: 960px;
  height: 300px;
  font-family: sans-serif;
}

.App table {
  width: 100%;
}

.table-div{
  display: inline-block;
  margin-top: 10px;

}

input{
  display: block;
  margin: auto;
  margin-top: 10px;
}
