/*Nav*/
nav {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(19,19,19, 0.5);
  height: 100px;
  padding-top: 10px;
}

 nav h1{
  color: white;
}

nav ul{
  float: right;
}

nav li{
  float: left;

}

nav a {
  font-family: Helvetica, Verdana, sans-serif;
  margin: 25px;
  padding-top: 50px;
  text-transform: uppercase;
  color: #FFF;
  text-decoration: none;
  line-height: 100px;

 }

 nav #ballparks{
  margin-right: 100px;
 }

  .logo {
    background-image: url('');
    background-repeat: no-repeat;
    background-size: 200px;
    color: transparent;
    float: left;
    height: 100px;
    width: 100px;
    margin-left: 100px;
    margin-top: 10px;
  }


/*Section*/

.main{
  text-align: center;
  background-image: url('ballpark.jpg');
  background-size: cover;
  margin: 0 auto;
  height: 550px;
  font-family: sans-serif;
  padding-top: 200px;
  position: relative;
  z-index: 1;

}

.main:after {
  content: '';
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}



.sentence{
  font-size: 3.7em;
  color: #FFF;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0 auto;
  padding-top: 150px;
  text-align: center;
  width: 70%;
}

.verticalFlip{
	display: inline;
	text-indent: 8px;
  text-align: center;
}
.verticalFlip span{
	animation: vertical 12.5s linear infinite 0s;
	-ms-animation: vertical 12.5s linear infinite 0s;
	-webkit-animation: vertical 12.5s linear infinite 0s;
	opacity: 0;
	overflow: hidden;
	position: absolute;
  display: block;
  width: 70%;
  margin: 0 auto;
  text-align: center;

}
.verticalFlip span:nth-child(2){
	animation-delay: 2.5s;
	-ms-animation-delay: 2.5s;
	-webkit-animation-delay: 2.5s;
}
.verticalFlip span:nth-child(3){
	animation-delay: 5s;
	-ms-animation-delay: 5s;
	-webkit-animation-delay: 5s;
}
.verticalFlip span:nth-child(4){
	animation-delay: 7.5s;
	-ms-animation-delay: 7.5s;
	-webkit-animation-delay: 7.5s;
}
.verticalFlip span:nth-child(5){
	animation-delay: 10s;
	-ms-animation-delay: 10s;
	-webkit-animation-delay: 10s;
}

/*Vertical Flip Animation*/
@-moz-keyframes vertical{
	0% { opacity: 0; }
	5% { opacity: 0; -moz-transform: rotateX(180deg); }
	10% { opacity: 1; -moz-transform: translateY(0px); }
	25% { opacity: 1; -moz-transform: translateY(0px); }
	30% { opacity: 0; -moz-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0;}
}
@-webkit-keyframes vertical{
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform: rotateX(180deg); }
	10% { opacity: 1; -webkit-transform: translateY(0px); }
	25% { opacity: 1; -webkit-transform: translateY(0px); }
	30% { opacity: 0; -webkit-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes vertical{
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: rotateX(180deg); }
	10% { opacity: 1; -ms-transform: translateY(0px); }
	25% { opacity: 1; -ms-transform: translateY(0px); }
	30% { opacity: 0; -ms-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}


.arrow{
  margin: 0 auto;
  display: block;

}

.shout-out{
  visibility: hidden;
}

.instructions{
  font-size: 1.3em;
  color:black;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0 auto;
  padding-top: 10px;
  text-align: center;
}

.instructions h3{
  font-size: 15px;
}

footer img{
  width: 150px;
}

footer p{
  font-family: sans-serif;
}
